.container {
  height: 15rem;
  width: 15rem;
  border: 2px solid black;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
}

.cell {
  /* border: 0.5px solid black; */
}

.food {
  background-color: red;
  border-radius: 50%;
}

.snake {
  background-color: green;
}
